<h2>Контакты</h2>
<p>Катя Юрьева - стрижка мужская, женская</p>
<p>Работает по нечетным дням с 9:00 до 20:00</p>
<p>тел. +380...</p>

<p>Лиля - стрижка мужская, женская</p>
<p>Работает по нечетным дням с 9:00 до 20:00</p>
<p>тел. +380...</p>