<h2>Записаться</h2>
<p>На этой странице Вы сможете записаться к нам на стрижку, завивку, маникюр и многое другое:)</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Как Вас зовут? (как можно к Вам обращаться?)</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>

  <div class="form-group">
    <label>Выберите парикмахера</label>
    <select name="barber" class="form-control">
      <option>Катя</option>
      <option>Лиля</option>
      <option>Марина</option>
  </select>
  </div>

  <p> </p>
  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
